* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),  url('../images/food1.jpg') no-repeat;
  background-position: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header{
  height: 50px;
  width: 100%;
  /* background-color: #E0AF1A; */

}



.header-grid-container, .grid-item {
  text-align: center;
  margin-top: 10px;
}



.navigationDiv {
  /* background-color: #00bab1; */
  background-color: black;
  height: 80px;
  padding: 3px;
  line-height: 80px;
  color: white;
  opacity: 0.8;
}

.left-links {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  float: right;
  margin-right: 50px;
  color: white;
  /* border: 1px solid #00BAB1;
  background-color: #00BAB1; */
  width: 100px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-top: 20px;
  /* border: 1px solid #E0AF1A; */
  border-bottom: 1px solid #00BAB1;
}

.left-links:hover {
  /* text-decoration: underline; */
  /* background-color: #E0AF1A; */
  background-color: #00BAB1;
  color: black;
  /* color: #E0AF1A; */
  /* color: #00BAB1; */
}

#home-link {
  height: 50px;
  width: 50px;
  margin-left: 50px;
  margin-top: 20px;
  /* border: 5px solid #00BAB1; */
  border-radius: 5px;
}

#home-link:hover {
  background-color: #00BAB1;
}

.section_container {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url('../images/food1.jpg') no-repeat;
  height: 30vh;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  background-position: center;
}


.middleDiv {
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding: 1px;
}

.behind-the-lowerDiv {
  /* opacity: 0.6; */
}

.lowerDiv {
  background-color: #293038;
  /* opacity: 0.6; */
  padding-bottom: 20px;
  padding-top: 10px;

}


.grid-container {
  display: grid;
  /* grid-template-columns: 33.3% 33.3% 33.3%; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  /* grid-gap: 20px; */
  grid-row-gap: 30px;
  grid-column-gap: 10px;
  max-width: 960px;
  margin: 0 auto;

}

.grid-item {
  /* color: white; */
  color: black;
}

/* #item_1 {
  background-image: url("images/pic-1.jpg");
  background-size: cover;
  background-position: center;
} */

.grid-item img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}


#descDivs {
  color: white;
  margin-right: 20px;
  border: none;
  border-top: 1px solid #E0AF1A;
  border-bottom: 1px solid #E0AF1A;
  /* grid-column-gap: 50px; */
}

.price {
  background-color: #282C34;
  /* background-color: #00bab1; */
  width: 50px;
  padding: 5px;
  margin-bottom: 10px;
  /* font-size: 1em; */
  font-weight: bold;
  /* color: #00bab1; */
  color: #E0AF1A;
}

.checkbox {
  margin-bottom: 10px;

}

input[name="quantity"] {
  width: 50px;
  padding: 5px;
}

.grid-item img:hover {
  /* outline: 5px solid red; */
  transform: scale(1.1);
  transition: all, .5s;
}

@media screen and (max-width: 700px) {
  .div_products {
    width: 100%;
    float
  }
}
